@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: #0d0d0d;
  --color-surface: #1a1a1a;
  --color-accent: #38bdf8;
  --color-elevated-surface: #2a2a2a;
  --color-primary-text: #f6f6f1;
  --color-secondary-text: #b0b0b0;
}


body {
  background: var(--color-background);
  color: var(--color-primary-text);
  font-family: Arial, Helvetica, sans-serif;
}
