@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: #111827;
  --color-surface: #1f2937;
  --color-accent: #17a3d0;
  --color-elevated-surface: #374151;
  --color-primary: #f6f6f1;
  --color-secondary: #b0b0b0;
}


body {
  background: var(--color-background);
  color: var(--color-primary);
  font-family: Arial, Helvetica, sans-serif;
}
